@import "tailwindcss";

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.woff2") format("opentype");
}

body {
  margin: 0;
  box-sizing: border-box;
}

@theme {
  --color-dark-grey: #1d1d1d;
  --color-dark-medium-grey: #303030;
  --color-medium-grey: #2d2d2d;
  --color-light-grey: #a4a4a4;
  --color-white: #ffffff;

  --z-base: 1;
  --z-content: 5;
  --z-circle-1: 4;
  --z-circle-2: 3;
  --z-circle-3: 2;

  --spacing-padding-card: 35px;
  --spacing-gap: 55px;
  --spacing-mini-gap: 20px;
  --spacing-card-max-width: 390px;
  --spacing-card-height: 407px;

  --spacing-circle-size: 523px;
  --spacing-circle-mini-size: 240px;

  --radius-card: 20px;
  --radius-section: 50px;
  --radius-circle: 50%;

  --breakpoint-md: 860px;
  --breakpoint-sm: 375px;
}

/* @theme {
  --color-dark-gray: #1d1d1d;
} */
